:root {
  --background:#ffffff;
  --borda_hover: #ff5100;
  --logout-btn: #e74c3c;
  --logout-btn-hover: #c0392b;
  --sidebar-bg: #242423;
  --sidebar-gradient-start: #2C3E50;
  --sidebar-gradient-end: #34495E;
  --sidebar-shadow: rgba(0, 0, 0, 0.2);
  --menu-btn-hover: #ffffff13;
}

@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap");

* {
  padding: 0;
  margin: 0;
}
h1 {
  font-size: 2rem;
  font-weight: 500;
  color: var(--text-white);
}

body {
  background-color: #42484e;
  margin: 0;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
}

.container {
  width: 600px;
  max-width: 100%;
  height: 400px;
  margin: 1rem;
  padding: 2rem;
  border-radius: 4px;
  background: var(--background);
  color: black;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  align-items: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}


.img_logo{
  width: fit-content;
  margin: auto;
}

.container,
.form_input,
.form_button {
  font: 500 1rem "Quicksand", sans-serif;
}


.form_title {
  margin-bottom: 2rem;
  text-align: center;
}

/* .form_input_group {
  margin-bottom: 1rem;
} */

.from_input, #password, #username {
  width: 90%;
  height: 25px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  font-size: 16px;
  color: #333;
  background-color: #f9f9f9;
  outline: none;
  transition: border-color 0.3s, box-shadow 0.3s;
}

.from_input:focus {
  border-color: #66afe9;
  box-shadow: 0 0 8px rgba(102, 175, 233, 0.6);
  outline: none;
}


.form_input-error {
  color: #cc3333;
  border-color: #cc3333;
}

.form_input-error-message {
  margin-top: 0.5rem;
  font-size: 0.85rem;
  color: #cc3333;
}

.form_button {
  width: 100%;
  padding: 1rem 1rem;
  font-weight: bold;
  font-size: 1.1rem;
  border: none;
  color: white;
  border-radius: 48px;
  outline: none;
  cursor: pointer;
  background: var(--logout-btn);
}

.form_button:hover {
  background: var(--logout-btn-hover);
}

.form_button:active {
  transform: scale(0.98);
}

.form_text {
  text-align: center;
  margin-top: 1rem;
}



.form_link:hover {
  text-decoration: underline;
}
.form_link {

  color: #ffffff;
  text-decoration: none;
  cursor: pointer;

}

.form_message {
  text-align: center;
  margin-bottom: 1rem;
}

.form_message--success {
  color: #cc3333;
}

.form-error {
  color: #cc3333;
}

.form_hidden {
  display: none;
}

.hidden {
  display: none;
}
